.bi {
    vertical-align: -0.125em;
    fill: currentColor;
}

a:hover
{ border-bottom: 1px solid;
  color: #12ace0;}
  

.text-body-secondary {
    --bs-text-opacity: 1;
    color: var(--bs-secondary-color)!important;
}

.img{
    height: 24px;
    width: 24px;
    float: right;
}

a, a:hover
{ border-bottom: 1px ;
  color: #635B53;
  text-decoration: none;}


#content
  {
     /* text-align: left;
    width: 613px; */
    padding: 10px;
    border-radius: 10px;
  
  }


footer{
    border-radius: 10px;
}








.card:hover{
  box-shadow: 10px 10px  rgba(227, 227, 168, 0.464);
  transition: all 0.4s ease;
  transform: scale(1.05);
  z-index: 2;
}



.button-33 {
  /* margin-left: 28%; */
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.button-33:hover{
  background-color: rgb(85, 203, 95);
  box-shadow: rgba(191, 194, 19, 0.2) 0 -25px 18px -14px inset, rgba(173, 200, 21, 0.15) 0 1px 2px, rgba(154, 204, 27, 0.15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;

}

.x{
  margin-left: 30%;
}


.developer{
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  margin-bottom: 5%;
  
}




